MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/chatapp
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio
JWT_REFRESH_SECRET=otro_secreto_diferente_largo_y_aleatorio
GOOGLE_WEB_CLIENT_ID=tu-web-client-id.apps.googleusercontent.com
PORT=3000
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
